src/niagara/client/request.dtd

<?xml encoding="ISO-8859-1"?>
<!ELEMENT request (requestMessage*)>
<!ELEMENT requestMessage (requestData?)>
<!ATTLIST requestMessage
	localID CDATA #REQUIRED
	serverID CDATA "-1"
	requestType (execute_qe_query|execute_se_query|kill_query|suspend_query|resume_query|get_next|get_dtd_list|get_dtd|get_partial|gc) #REQUIRED>
<!ELEMENT requestData (#PCDATA)>
