demo/niagara_server/queryplan.dtd

<!-- DTD for query plans -->

<!ENTITY % NLJoin '"niagara.query_engine.PhysicalNLJoinOperator"'>
<!ENTITY % HashJoin '"niagara.query_engine.PhysicalHashJoinOperator"'>

<!-- 
     Plan is a dummy node, representing the output of a query plan.
     top is a ref to the topmost operator, usually a construct.
-->

<!ELEMENT plan     (scan | select | join | avg | construct | 
                    dtdscan | firehosescan)+>
<!ATTLIST plan top IDREF        #REQUIRED>

<!-- 
     For all operators, an "id" attribute is required, so that other 
     operators may reference them. Also for logical operators with 
     multiple physical implementations available, a "physical" attribute
     may be attached, specifying the class name of the physical operator.
-->

<!-- 
     type : Whether we want the element itself, its content, or its tag name
     root:  Where is the regular expression rooted. Default: scan's input
     regexp: The XML-QL regular expression
-->

<!ELEMENT scan     EMPTY>
<!ATTLIST scan 
          id       ID                    #REQUIRED

	  type	   (tag|element|content) "element"
	  root	   CDATA                 ""
	  regexp   CDATA               #REQUIRED

          physical CDATA               #IMPLIED
          input   IDREF                #REQUIRED>

<!ELEMENT avg     EMPTY>
<!ATTLIST avg 
          id       ID                  #REQUIRED
	  groupby  CDATA	       #REQUIRED
	  avgattr  CDATA	       #REQUIRED
          physical CDATA               #IMPLIED
          input   IDREF                #REQUIRED>

<!ELEMENT sum     EMPTY>
<!ATTLIST sum 
          id       ID                  #REQUIRED
	  groupby  CDATA	       #REQUIRED
	  sumattr  CDATA	       #REQUIRED
          physical CDATA               #IMPLIED
          input   IDREF                #REQUIRED>

<!ELEMENT count     EMPTY>
<!ATTLIST count 
          id       ID                  #REQUIRED
	  groupby  CDATA	       #REQUIRED
	  countattr  CDATA	       #REQUIRED
          physical CDATA               #IMPLIED
          input   IDREF                #REQUIRED>

<!ELEMENT select  (and | or | not | pred)>
<!ATTLIST select 
          id       ID                  #REQUIRED

          physical CDATA               #IMPLIED
          input    IDREF               #REQUIRED>
<!--
        "left" and "right" are lists of variables used in an equijoin.
	It's necessary to specify them when using a hash join 
	implementation.
-->
<!ELEMENT join     (pred)? >
<!ATTLIST join
          id       ID                   #REQUIRED
	  left	   CDATA		#IMPLIED
	  right	   CDATA		#IMPLIED
	  physical CDATA		""
          input    IDREFS               #REQUIRED>


<!ELEMENT and     (and | or | not | pred)+>
<!ELEMENT or      (and | or | not | pred)+>
<!ELEMENT not     (and | or | not | pred)>

<!ELEMENT pred    (number | string | var)+>
<!ATTLIST pred
          op      (lt | gt | le | ge | ne | eq)  #REQUIRED>
<!ELEMENT number  EMPTY>
<!ATTLIST number
          value   CDATA                #REQUIRED>

<!ELEMENT string  EMPTY>
<!ATTLIST string 
          value   CDATA                #REQUIRED>

<!ELEMENT var  EMPTY>
<!ATTLIST var
          value   CDATA                #REQUIRED>

<!ELEMENT dtdscan  (url)+>
<!ATTLIST dtdscan 
          id       ID           #REQUIRED
          physical CDATA        #IMPLIED>

<!ELEMENT firehosescan  EMPTY>
<!ATTLIST firehosescan 
          id       ID           #REQUIRED
	  host	   CDATA	#REQUIRED
	  port	   CDATA	#REQUIRED
	  rate	   CDATA	#REQUIRED
	  type	   (gen | file) gen
	  desc     CDATA        #REQUIRED
	  iters    CDATA        #REQUIRED>


<!ELEMENT url        EMPTY >
<!ATTLIST url
          value    CDATA        #REQUIRED>

<!ELEMENT construct  ANY>
<!ATTLIST construct 
          id       ID           #REQUIRED
	  input   IDREF         #REQUIRED
          physical CDATA        #IMPLIED>
