demo/data/league.dtd

<!ELEMENT PNAME (#PCDATA)>
<!ELEMENT PLRID (#PCDATA)>
<!ELEMENT STDATE (#PCDATA)>
<!ELEMENT ENDDATE (#PCDATA)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT POSITION (#PCDATA)>
<!ELEMENT RESERVE (#PCDATA)>

<!ELEMENT LEAGUESYSTEM (LEAGUE+)>
   <!ELEMENT LEAGUE (TEAM+)>
      <!ELEMENT TEAM (NAME, ROSTER)>
         <!ELEMENT ROSTER (PLAYER+)>
            <!ELEMENT PLAYER (PNAME, PLRID, (POSITION | RESERVE), STDATE, ENDDATE)>
